# Bật chế độ RewriteEngine
RewriteEngine On

# Đảm bảo rằng bạn đang ở thư mục gốc của dự án
RewriteBase /manga_shop/

# Chuyển hướng tất cả các yêu cầu cho các tệp trong thư mục public trừ khi là file hoặc thư mục thực tế
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php/$1 [L]

# Thiết lập các loại MIME
AddType image/webp .webp
AddType application/javascript .js
AddType text/css .css

# Bật GZIP để tối ưu hóa tải trang
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript
</IfModule>

# Giới hạn kích thước tải lên và thời gian xử lý
php_value upload_max_filesize 10M
php_value post_max_size 10M
php_value max_execution_time 300
php_value max_input_time 300
